article {
  display: inline-block;
  text-align: center;
}

article > div {
  background-color: antiquewhite;
  border-radius: 146px;
  overflow: hidden;
  width: 400px;
}
.logoProdotto {
  background-image: url(/assets/img/honey.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
.contenitoreInfoProdotto {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  margin: 15px 0px;
}
.prezzoProdotto {
  align-content: center;
  font-size: 1.3rem;
}
.bottoneAddShop {
  margin-bottom: 15px;
  border-radius: 51px;
  width: 210px;
  height: 50px;
  border: none;
  background-color: #f4d843;
  font-size: 20px;
}
.infoProdotto > p,
.prezzoProdotto > p {
  color: #b74c4c;
}
.infoProdotto p span {
  font-weight: bold;
}
